@import url(http://fonts.googleapis.com/css?family=Bad+Script);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=News+Cycle);
@import url(http://fonts.googleapis.com/css?family=BenchNine:300);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
.vertical-center, .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

html, body {
  overflow: hidden; }

.container-fluid {
  padding: 0;
  margin: auto; }

.konten {
  padding: 0; }

.menu {
  text-align: right;
  position: fixed;
  background-color: #6bb9f0;
  top: 0;
  left: 0;
  bottom: 0; }

nav ul li {
  font-size: 1.6em;
  border-bottom: 1px solid #cfcfcf;
  padding: 20px 0; }

.content-block {
  border-bottom: 1px solid #cfcfcf;
  padding: 10px 20px 10px 20px; }
  .content-block:hover {
    background-color: #3498db; }
