.vertical-center, .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

a {
  text-decoration: none; }

.container-fluid {
  padding: 0;
  margin: auto; }

.konten {
  padding: 0; }

.menu {
  text-align: right;
  position: fixed;
  background-color: #6bb9f0;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0; }
  .menu ul {
    width: 100%; }
    .menu ul li {
      width: 80%;
      margin: 0 auto;
      -webkit-transition-property: all;
              transition-property: all;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-in;
              transition-timing-function: ease-in; }
      .menu ul li:hover {
        background-color: #3498db;
        width: 100%; }
        .menu ul li:hover h2 {
          color: #efefef; }
  .menu a {
    text-decoration: none; }
  .menu .activem {
    background-color: #3498db;
    width: 100%; }
    .menu .activem h2 {
      color: white; }

.content-block {
  padding: 10px 20px 10px 20px; }
