.vertical-center, .introduction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.introduction {
  width: 100%;
  height: 100vh; }
  .introduction p {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 5px; }
  .introduction h1 {
    margin-bottom: 25px; }

.tool-set span {
  color: #333;
  display: inline-block;
  border: 1px solid #1E824C;
  padding: 10px;
  margin: 2px 0;
  -webkit-transition: -webkit-transform .5s ease;
          transition: transform .5s ease; }
  .tool-set span:hover {
    background-color: #1E824C;
    color: #efefef;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
.tool-set .not-in-focus {
  border: 1px solid #D24D57;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }
  .tool-set .not-in-focus:hover {
    background-color: #D24D57;
    color: #efefef;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
.tool-set .in-dormant {
  border: 1px solid #BDC3C7;
  -webkit-transition: all .5s ease;
          transition: all .5s ease; }
  .tool-set .in-dormant:hover {
    background-color: #BDC3C7;
    color: #efefef;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); }
