@import "_settings";

html, body {
  //background-color: $primecolor;
  //overflow: hidden;
}
a {
  text-decoration: none;
}

.container-fluid {
  padding: 0;
  margin: auto;
}

.konten {
  padding: 0;
  //margin: auto;
}

.menu {
  text-align: right;
  @extend .vertical-center;
  position: fixed;
  background-color: rgb(107, 185, 240);
  top: 0; left: 0; bottom: 0;
  padding: 0;

  ul {
    width: 100%;
    li {
      width: 80%;
      margin: 0 auto;

      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: ease-in;

      &:hover {
        background-color: rgb(52, 152, 219);
        width: 100%;

        h2 {
          color: #efefef;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }

  .activem {
    background-color: rgb(52, 152, 219);
    width: 100%;
    h2 {
      color: white;
    }
  }
}

.content-block {
  //border-bottom: 1px solid #cfcfcf;
  padding: 10px 20px 10px 20px;
}
