@import "_settings";

.portfolio {
  @extend .vertical-center;
  height: 100vh;
  text-align: center;
  p {
    width: 50%;
    margin: 0 auto;
  }
  h1 {
    font-family: 'Bad Script', cursive;
  }
}

#porto1, #porto2, #porto3, #porto4, #porto5 {
  @include single-page;
}

.thumbnail-container {
  //width: 80%;
  margin: 0 auto;
}
.thumbnail img {
  height: 100px;
  //width: 100%;
}

#slide:focus {
  outline: none;
}

.pages {
  transition-property: background;
  transition-duration: 1s;
}

.pages:hover {
  background: #333;
}
