@import "_settings";

.portfolio {
  //@extend .vertical-center;
  height: 100vh;
  text-align: center;
  p {
    width: 50%;
    margin: 0 auto;
  }
  h1 {
    //font-family: 'Bad Script', cursive;
  }
}

hr {
  border: 0;
    border-bottom: 0.8pt solid #ccc;
}

.photo-gallery {
  z-index: 3;
  //background-color: #333;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  @extend .vertical-center;
  justify-content: center;

  .img-album {
    transition: all .4s ease;
    img {
      max-width: 100%;
      height: 500px;
      padding: 20px;
      transition: all .4s ease;

      &:hover {
        transform: scale(1.3);

      }
    }
    &:hover {
      //transform: translateX(-40%);
      //transform: scale(1.2);
      transform: translateX(-20%);
    }
  }

  .spinner {
    position: absolute;
    @extend .vertical-center;
    justify-content: center;
    bottom: 0; top: 0; right: 0; left: 0;
    //background: rgba(0,0,0,0.4);
    background-color: white;

    .circle {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      box-sizing: border-box;
      border: solid 1px rgba(0, 0, 0, 0.5);
      border-top-color: rgba(192, 57, 43, 1);
      animation: spin-alternate 1s infinite linear;
      position: absolute;
    }

    .circle-wrapper {
      //animation: upside-down .7s infinite alternate ease-out;
      //float: left;
    }
  }
}

/* when hiding the picture */
//.ng-hide-add         { animation:0.5s slideUp ease; }

/* when showing the picture */
.appear    { animation:1s appear ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes appear {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes spin {
  50% {
    opacity: 0;
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin-alternate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes upside-down {
  100% {
    transform: translateY(-10px);
  }
}

#porto1, #porto2, #porto3, #porto4, #porto5 {
  //@include single-page;
}


.thumbnail-container {
  //width: 80%;
  margin: 0 auto;
  .thumbnail {
    border: 0.8pt solid #efefef;
    border-radius: 0;
    margin: 0;
    transition: transform .2s ease-in-out;
    height: 50px;

    &:hover {
      transform: scale(1.7);
      border: 1px solid #23817f;
      z-index: 1;
      //border-top: 1px solid #23817f;
    }
  }
}

.active-thumbnail {
  border: 1px solid #23817f;
  transform: scale(1.7);
  z-index: 1;
}

.thumbnail img {
  max-height: 100%;
  //width: 100%;
}

.portfolio-desc p {
  padding-right: 40px;
}

#slide:focus {
  outline: none;
}

.pages {
  opacity: 0;
  position: absolute;
  height: 100vh;
  padding: 50px 70px 50px 70px;
  background: #FFF;
  @extend .vertical-center;

  .portfolio-content {
    padding-right: 40px;
    small {
      font-size: 20px;
    }
    p {
      //width: 400px;
    }
  }

  div {
    padding: 0;
  }

  &:nth-child(even) {
    //background-color: #DDD;
  }
}

.isActive {
  opacity: 1;
  z-index: 0;
  animation: slideRight .6s ease-in-out;
}

.isActiveFirst {
  opacity: 1;
  z-index: 1;
}

@keyframes slideRight {
  100% {
    opacity: 0;
    transform: translateX(20%);
    z-index: 0;
    //background-color: #DDD;
  }
}


.slideUp {
  // animation-name: slideUp;
  // animation-duration: 1s;
  // animation-fill-mode: forwards;
  z-index: 2;
  animation: slideUp .7s ease forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100vh);
    //width: 70%;
    background-color: transparent;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideDown {
  // animation-name: slideDown;
  // animation-duration: 1s;
  // animation-fill-mode: forwards;
  z-index: 2;
  animation: slideDown .7s ease forwards;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100vh);
    //width: 70%;
    background-color: transparent;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
