@import "_settings";

hr {
  border: 0;
  border-bottom: 0.8pt solid #ccc;
}

.mobile-photo-gallery {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0; right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  @extend .vertical-center;
  height: 100%;
  .img-album {
    width: 100%;
    img {
      max-width: 100%;
      padding: 20px;
      transition: all .4s ease;

      &:hover {
      }
    }
  }

  .spinner {
    position: absolute;
    @extend .vertical-center;
    justify-content: center;
    bottom: 0; top: 0; right: 0; left: 0;
    //background: rgba(0,0,0,0.4);
    background-color: transparent;
    width: 100%;

    .circle {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      box-sizing: border-box;
      border: solid 1px rgba(0, 0, 0, 0.5);
      border-top-color: rgba(192, 57, 43, 1);
      animation: spin-alternate 1s infinite linear;
      background-color: #efefef;
    }

    .circle-wrapper {
      //animation: upside-down .7s infinite alternate ease-out;
      //float: left;
    }
  }
  .close-button {
    padding: 5px;
    font-size: 1.2em;
    text-align: right;
    color: white;
  }
}

.photo-gallery {
  display: none;
  // z-index: 0;
  // position: absolute;
  // @extend .vertical-center;
  // justify-content: center;

  .img-album {
    display: none;
  //   transition: all .4s ease;
  //   background-color: #efefef;
  //   img {
  //     max-width: 100%;
  //     height: 500px;
  //     padding: 20px;
  //     transition: all .4s ease;

  //     &:hover {
  //       transform: scale(1.3);

  //     }
  //   }
  //   &:hover {
  //     //transform: translateX(-40%);
  //     //transform: scale(1.2);
  //     transform: translateX(-20%);
  //   }
  // }

  // .spinner {
  //   position: absolute;
  //   @extend .vertical-center;
  //   justify-content: center;
  //   bottom: 0; top: 0; right: 0; left: 0;
  //   //background: rgba(0,0,0,0.4);
  //   background-color: #efefef;

  //   .circle {
  //     width: 80px;
  //     height: 80px;
  //     border-radius: 40px;
  //     box-sizing: border-box;
  //     border: solid 1px rgba(0, 0, 0, 0.5);
  //     border-top-color: rgba(192, 57, 43, 1);
  //     animation: spin-alternate 1s infinite linear;
  //     position: absolute;
  //     background-color: #efefef;
  //   }

  //   .circle-wrapper {
  //     //animation: upside-down .7s infinite alternate ease-out;
  //     //float: left;
  //   }
  }
}

/* when hiding the picture */
//.ng-hide-add         { animation:0.5s slideUp ease; }

/* when showing the picture */
.appear    { animation:1s appear ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes appear {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes spin {
  50% {
    opacity: 0;
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin-alternate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes upside-down {
  100% {
    transform: translateY(-10px);
  }
}

#porto1, #porto2, #porto3, #porto4, #porto5 {
  //@include single-page;
}


.thumbnail-container {
  //width: 80%;
  margin: 0 auto;
  .thumbnail {
    border: 0.8pt solid #efefef;
    border-radius: 0;
    margin: 0;
    transition: transform .2s ease-in-out;
    height: 50px;

    &:hover {
      transform: scale(1.7);
      border: 1px solid #23817f;
      z-index: 1;
      //border-top: 1px solid #23817f;
    }
  }
}

.active-thumbnail {
  border: 1px solid #23817f;
  transform: scale(1.7);
  z-index: 1;
}

.thumbnail img {
  max-height: 100%;
  //width: 100%;
}

.portfolio-desc p {
  padding-right: 40px;
}

.pages:focus {
  outline: none;
}

.slideUp {
  z-index: 2;
  animation: slideUp .7s ease forwards;
}

.slideDown {
  z-index: 2;
  animation: slideDown .7s ease forwards;
}

@keyframes slideRight {
  100% {
    opacity: 0;
    transform: translateX(20%);
    z-index: 1;
    //background-color: #DDD;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100vh);
    //width: 70%;
    background-color: transparent;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100vh);
    //width: 70%;
    background-color: transparent;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
