<!DOCTYPE html>
<html ng-app="ramaibz">
<head>
  <meta charset="utf-8" />
  <title>ramaibz</title>
  <meta name="description" content="No longer than 155 characters." />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="stylesheet" type="text/css" href="/assets/css/vendor.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
  <base href="/"></base>
</head>

<body>
  <div class="container-fluid">
    <div class="menu col-md-2">
      <ul class="list-unstyled">
        <li><a ui-sref="intro"><div class="content-block">
          <h2>RESUME</h2>
          <p>a short explanation of myself</p>
        </div></a></li>
        <li><a ui-sref="portfolio"><div id="portfolio" class="content-block">
          <h2>PORTFOLIO</h2>
          <p>a gallery of my works</p>
        </div></a></li>
        <li><a ui-sref="blog"><div id="blog" class="content-block">
          <h2>BLOG</h2>
          <p>a snippets of my thought</p>
        </div></a></li>
      </ul>
    </div>
      <div class="konten col-md-10 col-md-offset-2">
        <div ui-view></div>
      </div>

  </div>
  <script src="/assets/js/vendor.min.js" charset="utf-8"></script>
  <script src="/assets/js/app.js" charset="utf-8"></script>
</body>
</html>
