<sliding scrolling ng-model="index" setpages="#intro" tabindex="0" id="slide">
<div class="introduction" id="intro0">
  <div class="wrapper" >
    <h1>A little bit story of myself ...</h1>
    <p>My name is Prananda Ramadhan, you can call me Rama. I'm a Binus University graduates, Information System - Business Intelligence major, a fresh one.</p>
    <p>
      Not actually fresh though. I'm graduated in 2013, doing freelance stuff since 2011. But, today and onwards, i want to extend my knowledge which i couldn't get from just being a freelancer, by joining a company whom had many experienced people who aim towards the better future.
    </p>
    <p>
      In my sparetime, i'm learning English, Svenska, German, Arabic and Japanese. Being a polyglot is my another sidekick mission to fullfil my outrageous dream. Note that it doesn't mean i'm fluent in those languages, at least for now.
    </p>
    <!-- <p>
      My learning style that fit me best is somewhat a style which includes physical activity, or learning by teacher, example even mistake. Learning by just reading alone will take a tremendeous time for me.
    </p> -->
  </div>

    <!-- <p>
      Short term mission:
      <ul>
        <li>put my webserver into the world. i've learned some basic nginx and webserver administration to host my own webpage from my home. But firstmedia policy to block all incoming ports made what i've learned incapacitated.</li>
        <li>searching for experienced people in managing the big data. I can't experienced this if i work single-handedly.</li>
        <li>learn embedded system, and made them. i need an amount of cash for this.</li>
        <li>master degree</li>
      </ul>
    </p>
    <hr>
    <p>
      Long term mission:
      <ul>
        <li>Build a startup</li>
        <li>Become angel investor</li>
      </ul>
    </p> -->
</div>

<div class="introduction" id="intro1">
  <div class="wrapper">
    <h1>Tools i have experienced in ...</h1>
    <p>I dont believe in skill star, bar, or whatsoever. As i grow mature, those things will be either improved or deprecated. That's fact and it's rather wasteful of time to update them later. Please note the word of 'Experienced', it doesn't mean i'm fully aware of the tools capabilities.</p>
    <div class="col-md-8">
      <div class="col-md-4">
        <ul>
          <li>Node.Js - Express</li>
          <li>Angular.Js, Jquery</li>
          <li>PHP</li>
          <li>NoSQL - MongoDB</li>
          <li>SQL - MySQL, MsSQL</li>
          <li>HTML5, CSS/3 - SCSS</li>
          <li>Python</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>Some IaaS (Amazon S3, Openshift/Heroku, Cloudflare)</li>
          <li>Some SaaS (Twilio, SendGrid)</li>
          <li>Basic Webserver (Nginx, Apache)</li>
          <li>VB.net</li>
          <li>Java SE, C#</li>
          <li>etc. will be added or removed later</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>Git / Github</li>
          <li>Task Runner, Gulp or Grunt</li>
        </ul>
      </div>
    </div>

  </div>

  <!-- </div> -->

  <!-- <h1>tools im interested right now</h1>
  <img src="https://lh6.googleusercontent.com/-TlY7amsfzPs/T9ZgLXXK1cI/AAAAAAABK-c/Ki-inmeYNKk/w749-h794/AngularJS-Shield-large.png" alt="" width="150" height="150"/>
  <img src="http://www.tutsowl.com/img/nodejs_square.png" alt="" width="150" height="150"/>
  <img src="https://lh6.googleusercontent.com/-TlY7amsfzPs/T9ZgLXXK1cI/AAAAAAABK-c/Ki-inmeYNKk/w749-h794/AngularJS-Shield-large.png" alt="" width="150" height="150"/> -->

</div>
</sliding>
